/* tables */

tr .header {
    background: url(bg.gif) no-repeat center right;
    cursor: pointer;
}

tr .headerSortUp {
    background-image: url(asc.gif);
}

tr .headerSortDown {
    background-image: url(desc.gif);
}
