.idea
*.pyc
*~
*.log
*.backup
*.lof
*.toc
:.out
*.aux
*.bbl
*.blg
*.ist
*.lot
*.dvi
src/media/videos/
src/media/images/
src/media/tmp
src/media/xml/
src/db.sqlite3
src/RecognitionSystem/recognitionsystem
src/RecognitionSystem/build/
