{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% load latest_videos %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block container %}
    <div class="jumbotron jumbotron-carousel corporate-jumbo">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h1>{% include "_brandname.html" %}</h1>

                    <p>A Web Application for the analysis of human behavior in crowded environments.</p>
                </div>
                <div class="col-md-4 col-sm-4">

                    {% if not user.is_authenticated %}
                        <div class="span3 well">
                            <legend>Create an Account</legend>
                            {% crispy signup_form %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- Benefits of the Django application -->
    <a name="about"></a>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Objective</h2>

                <p>This project aims at conducting a web application that uses a variety
                    of features related to behavior analysis in crowded environments,
                    including video viewing and creating layers display high level information.</p>

                <p><a target="_blank" class="btn btn-primary"
                      href="https://github.com/iago-suarez/ancoweb-TFG/blob/master/docs/Memoria/memoria.pdf"
                      role="button">Memory (Galician) &raquo;</a></p>
            </div>
            <div class="col-lg-8">

                <h2>Latest uploaded videos</h2>

                <div>
                    {% latest_videos 3 %}
                </div>
                <p><a id="see-all-videos" class="btn btn-primary"
                      href="/videos" role="button">See All Videos &raquo;</a></p>
            </div>
        </div>
    </div>

{% endblock container %}

