{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="videos" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
    {% crispy signin_form %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}

<div class="container">
    <div class="row text-center">
        <h2> {{ object.title }} </h2>
        <video id="video-player" controls>
            <source src="{{ object.video.url }}" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <p> Creation Date: {{ object.creation_timestamp }} </p>
        <br/>
        <h4 class="owner-label"> {{ object.owner }} </h4>
        <p>{{ object.description}}</p>
    </div>
</div>

{% endblock container %}