{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block styles %}
<link href="{% static 'image-picker/image-picker.css' %}" rel="stylesheet">
{% endblock styles %}

{% block navbar-left %}
  {% include "_navbar.html" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
    {% crispy signin_form %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}

<div class="container">
    <div class="row text-center">
        <h2>Your video {{ object.title}} was successfully update</h2>
        <p>Please select one image to show it: </p>
    </div>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="picker">
            <select class="image-picker show-html" name="main_image" id="id_main_image">
                {% for image in image_urls %}
                <option data-img-src="{{ image }}" value="{{ image }}"> </option>
                {% endfor %}
            </select>
        </div>

        <input class="btn btn-default" type="submit" value="OK">
    </form>
</div>

{% endblock container %}
{% block scripts %}
    <script src="{% static 'image-picker/image-picker.js' %}"></script>
    <script>
        $("select").imagepicker();
        $('li:has(div[class*="thumbnail"])').addClass('col-md-4').addClass('col-xs-6');
    </script>
{% endblock scripts %}