{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
    {% crispy signin_form %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block container %}

<div class="container">
    <div class="row text-center">
        <h2>Your video was updated successfully! :D</h2>

    </div>
</div>

{% endblock container %}