{% load staticfiles %}

{% for video in videos %}
    <div class="col-sm-6 col-lg-4">
        <div class="text-center">
            <a href="{% url 'videos:details' video.id %}">
                <img class="defaultVideoIcon" src="
        {% if video.image.url != None %}
            {{ video.image.url }}
        {% else %}
            {% static defaultVideoIcon %}
        {% endif %}"/>
            </a>
        </div>
        <h4><a href="{% url 'videos:details' video.id %}">{{ video }}</a></h4>

    </div>
{% endfor %}
