#video-player {
    /*display:none;*/
}

.panel-heading h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.backgroundBlack {
    background-color: black;
}

#susp-det-popup-body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#zoom-slider {
    height: 76%;
    position: absolute;
    pointer-events: auto;
    top: 6%;
    right: 2%;
}

#canvas-container {
    position: absolute;
    pointer-events: none;
}

canvas {
    pointer-events: none;
}

.ui-slider-vertical {
    width: .8em;
    height: initial;
}

.drawing-layer {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

video::-webkit-media-controls-panel {
    z-index: 10;
}